.container {
    display: grid;
    grid-template-columns: repeat(25, 25px);
    grid-template-rows: repeat(25, 25px);
    width: 627px;
    height: 627px;
    box-sizing: border-box;
    row-gap: 3px;
    column-gap: 3px;
}
  
  .item {
    width: 25px;
    height: 25px;
    outline: 1px solid black;
    box-sizing: border-box;
  }

  .item {
    background-color: lightgray;
  }

  * {
    margin: 0;
    padding: 0;
  }