{% extends "application/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'application/gamestyles.css' %}">
    <script src="{% static 'application/script2.js' %}" defer></script>
    <title>Document</title>
</head>

<body>
    <script>
        const boardString = "{{ board_state }}";
    </script>
    <a href="/">Back</a>
    <div class="board" id="board">
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
    </div>
    <button id="saveGameButton" method="POST">Save Game</button>
    <div class="winning-message" id="winningMessage">
        <div data-winning-message-text></div>
        <button id="restartButton">Restart</button>
    </div>
    
    
</body>
{% endblock %}
</html>