.section1{
    background-color: #1F2937;
}

.section1 a{
    font-family: Roboto,sans-serif;
}
.nav{
    text-decoration: none;
}

.nav{
    display: flex;
    height: 50px;
    align-items: center;
}

.navspaceleft{
    flex: 1 1 0%;
}

.navheader{
    flex: 1 1 0%;
    color: white;
}

.navheader a{
    color: #F9FAF8;
    font-size: 24px;
    text-decoration: none;
    font-weight: 900;
}

.navspacecenter{
    flex: 1 1 0%;
}

.navlinks{
    flex: 1.5 1 0%;
}

.navlinks a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    margin: 6px;
}

.navspaceright{
    flex: 1 1 0%;
}

.section1body{
    display: flex;
    height: 200px;
    color: white;
}

.spaceleft{
    flex: 1 1 0%;
}

.section1main{
    flex: 2 1 0%;
}

.section1img{
    flex: 2 1 0%
}